/*----------------------------------------*/
/*  0.  Variables
/*----------------------------------------*/

:root {
    /* Основные цвета */
    --color-primary: #D7B474; /* Золотой */
    --color-secondary: #10100E; /* Тёмный фон */
    --color-light: #ffffff; /* Белый */
    --color-grey-light: #b1b1b1; /* Светло-серый текст */
    --color-grey-dark: #131313; /* Тёмно-серый фон */
    --color-accent: #ccc; /* Светло-серый акцент */
    --color-placeholder: #999999; /* Цвет текста по умолчанию */

    /* Вспомогательные цвета */
    --color-background: #0c0c0b; /* Тёмный фон футера */
    --color-highlight: #444; /* Тёмно-серый для акцентов */
    --color-border: #d9d9d9; /* Цвет для границ */

    /* Дополнительные */
    --color-heading: #ddd; /* Заголовки */
    --color-link-hover: #252525; /* Цвет ссылки при наведении */
}

/*----------------------------------------*/
/*  1.  Fonts
/*----------------------------------------*/
@font-face {
    font-family: "Great Vibes";
    src: url('../fonts/great_vibes/GreatVibes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Marck Script";
    src: url('../fonts/marck_script/MarckScript-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Lobster";
    src: url('../fonts/lobster/Lobster-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Monotype Corsiva Regular";
    src: url('../fonts/monotype_corsiva/Monotype-Corsiva-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Neucha";
    src: url('../fonts/neucha/Neucha-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/*----------------------------------------*/
/*  1.  Theme default CSS
/*----------------------------------------*/

html, body {
	height: 100%;
}
.floatleft {
	float:left;
}
.floatright {
	float:right;
}
.alignleft {
	float:left;
	margin-right:15px;
	margin-bottom: 15px;
}
.alignright {
	float:right;
	margin-left:15px;
	margin-bottom: 15px;
}
.aligncenter {
	display:block;
	margin:0 auto 15px;
}
a:focus {
	outline:0px solid;
}
img {max-width:100%;
	height:auto;
}
.fix {
	overflow:hidden;
}
p {
	margin:0 0 15px;
    color: var(--color-grey-light);
}
h1, h2, h3, h4, h5, h6 {
    margin: 0 0 10px;
    color: #fff;
    font-weight: 600;
    font-family: 'Monotype Corsiva Regular', sans-serif;
}
h1{
    font-size: 42px;
    line-height: 48px;
}
h2{
    font-size: 34px;
    line-height: 44px;
}
h3{
    font-size: 30px;
    line-height: 40px;
}
h4{
    font-size: 26px;
    line-height: 34px;
}
h5{
    font-size: 22px;
    line-height: 30px;
}
h6{
    font-size: 18px;
    line-height: 28px;
}
 a {
	transition: all 0.3s ease 0s;
	text-decoration:none;
}
a:hover {
  color: var(--color-link-hover);
  text-decoration: none;
}
a:active, a:hover {
  outline: 0 none;
}
hr {
    border-color: var(--color-border);
    margin-top: 10px;
    margin-bottom: 10px;
}
ul{
list-style: outside none none;
margin: 0;
padding: 0;
}
.clear{
	clear:both;
}
a:focus {
    color: var(--color-primary);
    text-decoration: none;
}
body {
  background: #fff none repeat scroll 0 0;
  color: var(--color-placeholder);
  font-family: 'Neucha', sans-serif;
  font-size: 16px;
  text-align: left;
  overflow-x: hidden;
  line-height: 28px;
}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
.browserupgrade {
    margin: 0.2em 0;
    background: var(--color-accent);
    color: #000;
    padding: 0.2em 0;
}
.intro-default {
    width: 100%;
    height: auto;
}
:focus {
    outline: -webkit-focus-ring-color auto 0px;
}
.display-table {
    width: 100%;
    height: 100%;
    display: table;
}
.display-table-cell {
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}
.area-padding {
  padding: 110px 0;
}
.area-padding-2 {
  padding: 110px 0px 80px;
}
.section-headline h3 {
    font-size: 38px;
    color: var(--color-heading);
    margin-bottom: 40px;
    line-height: 48px;
    /* text-transform: uppercase; */
    letter-spacing: 1px;
}
.top-head {
    /* text-transform: uppercase; */
    color: var(--color-primary);
    font-weight: 600;
    font-size: 15px;
    position: relative;
    margin-bottom: 10px;
    display: inline-block;
}
.top-head::before {
    position: absolute;
    content: "";
    top: 13px;
    background: var(--color-primary);
    width: 40px;
    height: 1px;
    left: -50px;
}
.top-head::after {
    position: absolute;
    content: "";
    top: 13px;
    background: var(--color-primary);
    width: 40px;
    height: 1px;
    right: -50px;
}
#scrollUp {
    bottom: 110px;
    font-size: 12px;
    line-height: 22px;
    right: 30px;
    width: 100px;
    background-color: transparent;
    color: #fff;
    text-align: center;
    height: 20px;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    /* text-transform: uppercase; */
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
#scrollUp:before {
    position: absolute;
    width: 30%;
    height: 2px;
    background-color: #fff;
    content: "";
    top: 10px;
    right: 100%;
    z-index: -200 !important;
}
#scrollUp:hover {
    bottom: 130px;
    transition-duration: 500ms;
}
.bg-color{
    background: #161616;
}
.bg-color-2{
    background: var(--color-grey-dark);
}
.parallax-bg{
    position:relative;
	z-index: 1;
}
.parallax-bg:before{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:var(--color-secondary);
    opacity:.7;
    content:"";
	z-index: -1;
}
input, select, textarea, input[type="text"], input[type="date"], input[type="url"], input[type="email"], input[type="password"], input[type="tel"], button, button[type="submit"] {
  -moz-appearance: none;
  box-shadow: none !important;
}

/*----------------------------------------*/
/*  2. Header Area 
/*----------------------------------------*/
.header-area{
    background: transparent;
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 9999;
}
.header-area.stick {
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999999;
    background: var(--color-secondary);
}
.logo {
  display: block;
    height: 70px;
}
.logo a {
    display: inline-block;
    height: auto;
    padding: 15px 0;
}
.logo a{
    position: relative;
}
.team-content h4 a::after {
    position: absolute;
    content: "";
    background: var(--color-primary);
    width: 40px;
    height: 40px;
    left: -30px;
    top: -15px;
    border-radius: 50%;
    z-index: -1;
    opacity: 0.6;
    transition: 0.5s;
}
.main-menu ul.navbar-nav li {
    float: left;
    position: relative;
}
.slide-menu {
    margin: 20px 0px;
    padding: 0;
    list-style: none;
    text-align: center;
    padding-top: 70px;
}
.slide-menu-item {
    font-size: 15px;
    display: inline-block;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    color: var(--color-accent);
    /* text-transform: uppercase; */
    letter-spacing: 0.80px;
}
.slide-dropdown-menu-item {
    line-height: 28px;
    display: block;
    padding: 0;
    text-decoration: none;
    color: var(--color-heading);
    font-size: 13px;
    /* text-transform: uppercase; */
}
.navbar {
    border: medium none;
    margin-bottom: 0;
}
.navbar-default {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.stick .main-menu ul.navbar-nav li a,
.stick .header-social >li>a {
    color: var(--color-highlight);
}
.navbar-default .navbar-toggle {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    padding: 25px 0px;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: transparent;
    color: var(--color-primary);
}
.navbar.navbar-default {
    float: right;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    background: none;
    color:var(--color-primary);
}
.logo-pic {
    position: relative;
    top: 70px;
    left: 50%;
    margin-left: -70px;
    display: inline-block;
}
.logo-pic img {
   display: block;
}
.slide-right.slide-open .slide-hamburger {
    /* right: 29%; */
    top: 15px;
}

/*----------------------------------------*/
/*  3. Mobile Menu Area
/*----------------------------------------*/
.mobile-menu-area {
    background: var(--color-secondary) none repeat scroll 0 0;
    padding: 10px 0px;
}
.mean-container a.meanmenu-reveal span {
    background: var(--color-heading) none repeat scroll 0 0;
    display: block;
    height: 2px;
    margin-top: 5px;
    width: 30px;
}
.mean-container .mean-nav {
    float: left;
    width: 100%;
    background: var(--color-secondary);
}
.mean-container .mean-bar::after {
    content: "";
    font-size: 21px;
    left: 5%;
    position: absolute;
    top: 12px;
    /* text-transform: uppercase; */
    font-weight: 500;
}
.mean-container a.meanmenu-reveal {
    color: var(--color-heading);
    font-weight: 300;
}
.mean-container a.meanmenu-reveal:hover {
    color:var(--color-heading);
}
.mean-container .mean-nav ul {
    list-style-type: none;
    margin: 20px 0px;
    padding: 0;
    width: 100%;
}
.mean-container .mean-nav ul li a {
    background: var(--color-secondary) none repeat scroll 0 0;
    color: var(--color-heading);
    display: block;
    float: left;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    padding: 10px;
    text-align: left;
    text-decoration: none;
    text-transform: capitalize;
    width: 98%;
}
.mean-nav ul li.mean-last {
    margin-bottom: 20px;
}
.mean-container .mean-nav ul li a.mean-expand {
    color: var(--color-heading);
    line-height: 17px;
}
.mean-container .mean-nav ul li {
    width: 99.7%;
    border: none;
}
.stick .main-menu ul.navbar-nav li.active a{
    color: var(--color-primary);
}
/* .slide-hamburger:hover .slide-hamburger-icon{
    margin: 5px 0px;
} */

/*--------------------------------*/
/*  4. Intro Area
/*--------------------------------*/
.slide-area {
    /* background: rgba(0, 0, 0, 0) url(../img/background/s2.jpg) no-repeat scroll bottom center / cover; */
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}
.title1 {
    color: var(--color-primary);
    font-weight: 300;
    font-size: 17px;
    letter-spacing: 0.80px;
    /* text-transform: uppercase; */
}
.title2 {
    font-size: 64px;
    line-height: 74px;
    margin-bottom: 0px;
    color: #fff;
    padding: 20px 0px;
    /* text-transform: uppercase; */
    letter-spacing: 1px;
    font-weight: 400;
}
#particles-js {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}
.slide-btn {
    padding: 14px 40px;
    display: inline-block;
    margin: 15px 30px;
    /* text-transform: uppercase; */
    position: relative;;
    transition: all 0.3s;
    border: 1px solid #fff;
    color: #fff;
    overflow: hidden;
    font-size: 16px;
    z-index: 1;
}
.slide-btn:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0;
    top: 50%;
    left: 50%;
    background: var(--color-primary);
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    z-index: -1;
    transition: all 0.3s;
}
.slide-btn:hover{
    color: #fff;
    border: 1px solid var(--color-primary);
}
.slide-btn:hover:after {
    height: 260%;
    opacity: 1;
}

/*----------------------------------------*/
/*  5. About Area 
/*----------------------------------------*/
.about-images {
    margin-right: 15px;
}
.about-headline h3 {
    font-size: 38px;
    line-height: 48px;
    margin-bottom: 15px;
    /* text-transform: uppercase; */
    letter-spacing: 1px;
    font-weight: 500;
}
.about-content {
    margin: 20px 0px 0px 15px;
}
.about-content p {
    color: var(--color-grey-light);
}
.sub-content h4 {
    font-size: 20px;
    margin-top: 20px;
    display: block;
}
.award-all {
    background: #333;
    padding: 10px 30px;
    position: relative;
    margin-top: 30px;
    border-left: 2px solid var(--color-primary);
}
.side-head.top-head::before {
    display: none;
}
.about-top-image {
    position: relative;
    overflow: hidden;
}
.video-content {
    width: 300px;
    height: 300px;
    position: absolute;
    bottom: -12%;
    right: -10%;
    margin: 0 auto;
    text-align: center;
    z-index: 9;
    background:rgba(215,180,116,0.60);
    border-radius: 50%;
}
.video-play.vid-zone {
    border-radius: 100px;
    display: inline-block;
    border: 1px solid #fff;
    text-align: center;
    height: 80px;
    width: 80px;
    line-height: 77px;
    position: relative;
    font-size: 40px;
    background: transparent;
    top: 25%;
}
.video-play::before {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: popcircle;
    animation-name: popcircle;
    border: 1px solid #fff;
    border-radius: 100px;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.video-play.vid-zone i {
    color: #fff;
    margin-left: 5px;
    margin-top: 17px;
}

/*----------------------------------------*/
/* 6. Services area css
/*----------------------------------------*/
.single-services {
    margin-bottom: 30px;
    position: relative;
    border: 1px solid var(--color-light);
}
.services-content {
    padding: 30px 30px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
    background: var(--color-grey-dark);
}
.services-content h4 {
    color: #fff;
    font-size: 20px;
    margin-bottom: 0px;
    position: relative;
    z-index: 1;
    padding-left: 15px;
    font-weight: 400;
}
.services-content h4::after {
    position: absolute;
    content: "";
    background: var(--color-primary);
    width: 40px;
    height: 40px;
    left: -6px;
    top: -12px;
    border-radius: 50%;
    z-index: -1;
    opacity: 0.6;
    transition: 0.5s;
}
.single-services:hover .services-content h4::after{
    transition: 0.5s;
    top: -4px;
    left: 0;
}
.services-btn:hover{
    color: var(--color-primary);
}
.services-image{
    overflow: hidden;
}
.services-image img{
    position: relative;
    transform: scale(1);
    display: block;
    transition: 0.5s;
}
.single-services:hover .services-image img{
    position: relative;
    transform: scale(1.1);
    display: block;
    transition: 0.5s;
}


/*--------------------------------*/
/* 7. Work Area
/*--------------------------------*/
.project-area {
    position: relative;
}
.single-awesome-project {
    float: left;
    overflow: hidden;
    width:100%;
    position: relative;
    margin-bottom: 30px;
}
.awesome-img{
    display: block;
    width: 100%;
    /* height: 100%; */
    position: relative;
    overflow: hidden;
}
.awesome-img img{
    transform: scale(1.1);
    transition: 0.4s;
}
.single-awesome-project:hover .awesome-img img{
    transform: scale(1);
    transition: 0.4s;
}
.awesome-img > a {
    display: block;
    position: relative;
}
.single-awesome-project:hover .awesome-img > a::after{
    opacity: 1;
}
.single-awesome-project:hover .add-actions{
    opacity: 1;
}
.awesome-img > a::after {
    background: rgba(0,0,0,0.70) none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    opacity: 0;
    transition: 0.4s;
}
.awesome-img .vbox-item i {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 88;
    color: var(--color-light);
    font-size: 30px;
    text-align: center;
    top: 50%;
    margin-top: -15px;
    opacity: 0;
    font-weight: 100;
}
.single-awesome-project:hover .awesome-img .vbox-item i{
    opacity: 1;
}

/* Пагинация */
.portfolio-pagination {
    text-align: center;
    margin-top: 30px;
}

.pagination-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-flex; /* Располагаем элементы в ряд */
    gap: 10px; /* Расстояние между элементами */
}

.pagination-item {
    display: inline-block;
}

.pagination-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid var(--color-light);
    color: var(--color-light);
    text-decoration: none;
    background: transparent;
    transition: all 0.3s ease;
    font-size: 16px;
}

/* Стили для активного элемента и ховера */
.pagination-link:hover,
.pagination-item.active .pagination-link {
    background: var(--color-primary);
    color: var(--color-light);
    border: 1px solid var(--color-primary);
}

/* Блокировка неактивной кнопки */
.pagination-item.disabled .pagination-link {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.5;
    background: transparent;
    border: 1px solid var(--color-light);
    color: var(--color-light);
}

/* Адаптация для неактивной кнопки */
.pagination-item.disabled .pagination-link:hover {
    background: transparent;
    color: var(--color-light);
    border: 1px solid var(--color-light);
}

/* Адаптивная пагинация */
@media (max-width: 768px) {
    .pagination-link {
        width: 35px;
        height: 35px;
        font-size: 14px;
    }
    .pagination-list {
        gap: 5px;
    }
}

/*----------------------------------------*/
/*  8. Footer Area
/*----------------------------------------*/
.footer-area {
    padding: 100px 0;
    background: var(--color-secondary);
}
.footer-logo {
    margin-bottom: 20px;
}
.footer-head h4 {
    color: var(--color-light);
    font-size: 22px;
    margin-bottom: 30px;
    text-transform: capitalize;
}
.footer-icons ul li {
    display: inline-block;
}
.footer-icons ul li a {
    color: var(--color-light);
    display: block;
    font-size: 16px;
    line-height: 33px;
    text-align: center;
    margin-right: 5px;
    border: 1px solid var(--color-light);
    width: 34px;
    height: 34px;
    border-radius: 50%;
    transition: 0.4s;
}
.footer-contact li{
    margin-top: -15px;
}
.footer-icons ul li a:hover{
    color: var(--color-light);
    border: 1px solid var(--color-primary);
    background: var(--color-primary);
    transition: 0.4s;
}
.footer-tags li a:hover{
    color: var(--color-primary);
}
.footer-contact li a {
    color: #fff;
    font-size: 16px;
    margin-bottom: 20px;
    display: block;
    font-weight: 300;
}
.footer-contact li:last-child a{
    margin-bottom: 0px;
}
.footer-contact li a i {
    font-size: 16px;
    margin-right: 10px;
    line-height: 34px;
    color:var(--color-primary);
}
.subs-feilds {
    background: #1c1c1c ;
    padding: 40px 20px;
    border-radius: 3px;
}
.suscribe-input input {
    border: medium none;
    color: #777;
    font-size: 15px;
    line-height: 24px;
    padding: 6px 15px;
    height: 46px;
    border-radius: 0;
    width: 66%;
    float: left;
    background: var(--color-background) ;
}
.suscribe-input button {
    background: var(--color-primary);
    border: none;
    color: var(--color-light);
    font-size: 16px;
    padding: 10px 5px;
    width: 34%;
    height: 46px;
    border-left: 1px solid var(--color-primary);
}
.footer-icons {
    margin-top: 20px;
}
.footer-list {
    width: 50%;
    float: left;
}
.footer-contacts p span {
    color: var(--color-primary);
    font-weight: 700;
}
.footer-area-bottom {
    background: var(--color-background) none repeat scroll 0 0;
    padding: 25px 0;
    text-align: center;
}
.copyright-text a:hover{
	text-decoration: underline;
	color:var(--color-primary);
}
.copyright-text a {
    color: var(--color-light);
}
.copyright > p {
    margin-bottom: 0;
    color: var(--color-light);
}
.copyright a {
    color: var(--color-primary);
}

/*----------------------------------------*/
/*  9. Breadcumbs Area
/*----------------------------------------*/
/* .page-area {
    background: url(img/background/bread-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}
.breadcrumb-inner {
    padding: 120px 0px;
}
.bread-headline {
    text-align: center;
    margin: 0 auto;
    left: 0px;
    background: rgba(28,28,28,0.9);
    width: 50%;
    padding: 40px 40px;
    position: relative;
    top: 200px;
    border-radius: 4px;
}
.bread-headline h3 {
    color: #fff;
    font-size: 32px;
    font-weight: 400;
    line-height: 42px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.bread-headline p {
    font-size: 15px;
    color: var(--color-heading);
    margin-bottom: 0px;
} */

/*----------------------------------------*/
/*  10. Blog Details
/*----------------------------------------*/
/* .blog-details {
    padding-top: 90px;
}
.adver-img {
    margin-top: 20px;
}
.comments-heading h3, h3.comment-reply-title {
    border-bottom: 1px solid #666;
    color: #c5c5c5;
    font-size: 18px;
    margin: 0 0 40px;
    padding: 0 0 5px;
    text-transform: capitalize;
}
.comments-list ul li{
    margin-bottom: 25px;
}
.comments-list-img{
    float: left;
    margin-right: 15px;
	border-radius: 50%;
	
}
.comments-list-img img {
    border-radius: 50%;
    border: 1px solid var(--color-primary);
}
.comments-content-wrap {
    color: #c5c5c5;
    font-size: 14px;
    margin: 0 0 15px 90px;
    padding: 10px;
    position: relative;
}
blockquote {
    padding: 40px 40px 10px 80px;
    margin: 0 0 20px;
    font-size: 15px;
    border-left: none;
    font-style: italic;
    position: relative;
}
blockquote::before {
    position: absolute;
    top: 20px;
    left: 30px;
    content: "\f10d ";
    font-family: fontawesome;
    font-size: 34px;
    color: #c5c5c5;
}
blockquote p {
    font-size: 16px !important;
    line-height: 28px;
    color:#c5c5c5 !important;
}
.author-avatar {
    display: inline-block;
    float: left;
    width: 10%;
}
.comments-content-wrap span b{margin-right:5px}
.comments-content-wrap span a:hover{}
span.post-time{margin-right:5px}
.comments-content-wrap p {
    color: #c5c5c5;
    margin-top: 10px;
}
.threaded-comments{
	margin-left:50px
}
.comment-respond {
    margin-top: 20px;
}
span.email-notes{
	color: #c5c5c5;
    display: block;
    font-size: 12px;
    margin-bottom: 10px;
}
.comment-respond p {
    color: #c5c5c5;
    margin-bottom: 5px;
}
.comment-respond input[type=text],
.comment-respond input[type=email]{
    border: 1px solid #888;
    border-radius: 0;
    height: 46px;
    margin-bottom: 15px;
    padding: 0 0 0 10px;
    width: 100%;
	background: transparent;
}
.comment-respond textarea#message-box{
    border: 1px solid #888;
    border-radius: 0;
    max-width: 100%;
    padding: 10px;
	height: 200px;
    width: 100%;
	background: transparent;
}
.comments-content-wrap span a {
    color: var(--color-primary);
}
.comments-content-wrap span a:hover {
    color: var(--color-primary);
}
.comment-respond .add-btn.contact-btn {
    background:transparent;
    color: #fff;
    display: block;
    font-size: 15px;
    margin-top: 5px;
    padding: 10px 20px;
    transition: 0.4s;
    border-radius: 2px;
    width: auto !important;
    margin-top: 20px;
    border: 1px solid #fff;
    text-transform: uppercase;
}
.comment-respond .add-btn.contact-btn:hover{
    background: var(--color-primary);
	color: #fff;
    border: 1px solid var(--color-primary);
    transition: 0.5s;
    transform: translateY(-4px);
}
.blog-page-details .left-blog-page {
    margin-top:0px;
    margin-bottom:30px;
}
.left-head-blog .pst-content p{
	margin-bottom: 5px;
}
.blog-details .blog-content h5 {
    font-size: 18px;
    color: #f5f5f5;
    margin: 20px 0px;
}
.blog-details .blog-content {
    padding: 30px 0px 0px;
    position: static;
    background: transparent;
    text-align: left;
}
.blog-details .blog-content p{
    letter-spacing: 0.50px;
}
.blog-details .blog-content h4{
    font-size: 24px;
}
.blog-details .blog-images img {
    width: 100%;
    height: 100%;
    max-height: 600px;
    object-fit: cover;
}
.blog-details .img-blog {
    margin:30px 0px 30px;
    overflow: hidden;
}
.blog-details .blog-images {
    display: block;
}
.single-post-comments, .related-post {
    margin-top: 30px;
}
.img-blog img{
    float: left;
    width: 50%;
    height:100%;
    max-height: 450px;
    object-fit: cover;
}
.img-blog .b-image-one{
    padding-right: 15px;
}
.img-blog .b-image-two{
    padding-left: 15px;
}
.recent-single-post {
    display: block;
    overflow: hidden;
    padding: 15px 0px;
}
.related-post-list .recent-single-post {
    width: 50%;
    float: left;
    padding: 0px 20px 0px 0px;
}
.related-post-list .recent-single-post:last-child{
    padding: 0px 0px 0px 20px;
}
.recent-single-post img {
    width: 100%;
    max-width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid var(--color-primary);
}
.post-img {
    display: inline-block;
    float: left;
    padding-right: 15px;
}
.pst-content {
    padding-left: 20px;
    padding-top: 10px;
}
.pst-content p {
    margin-bottom: 0px;
}
.pst-content .date-type {
    font-size: 14px;
}
.pst-content p a {
    color: #fff;
    font-size: 15px;
}
.pst-content p a:hover{
    color: var(--color-primary);
} */
 
/*----------------------------------------*/
/*  11.	Animation  CSS
/*----------------------------------------*/
.rotateme {
    animation-name: rotateme;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.last-item{
    margin-bottom: 0px;
}
.item-bounce {
    -webkit-animation: bounce 3s infinite ease-in-out;
    animation: bounce 3s infinite ease-in-out;
}
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  50% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  50% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}

@-webkit-keyframes popcircle {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  99% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
  100% {
    opacity: 0;
  }
}
/*----------------------------------------*/
/* End Pages
/*----------------------------------------*/


/*----------------------------------------*/
/*  12.	Video business cards
/*----------------------------------------*/
/* Общий стиль карточки */
.video-card {
    background: var(--color-light);
    border: 1px solid var(--color-light);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


/* Контейнер для iframe */
.video-card-iframe {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.video-card-iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

/* Адаптивность карточек */
@media (max-width: 768px) {
    .video-card {
        margin-bottom: 20px;
    }
}

@media (max-width: 576px) {
    .video-card {
        margin-bottom: 15px;
        box-shadow: none;
    }

    .video-card-iframe {
        padding-bottom: 75%;
    }
}



/*----------------------------------------*/
/*  13.	Modal
/*----------------------------------------*/
.modal-dialog-centered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.modal-content {
    max-width: 900px;
    width: 100%;
    background-color: var(--color-grey-dark);
    color: var(--color-light);
    border: none;
    border-radius: 8px;
    overflow: hidden;
    font-size: 16px;
    line-height: 1.5;
}

/* Стиль кнопки закрытия */
.modal-header .close {
    color: var(--color-light);
    opacity: 1;
    font-size: 24px;
    text-shadow: none;
    transition: color 0.3s ease;
}

.modal-header .close:hover {
    color: var(--color-primary);
}

.modal-header h4 {
    color: var(--color-light);
    font-weight: bold;
    font-size: 20px;
    margin: 0;
}

.modal-body p {
    margin-bottom: 10px;
    color: var(--color-light);
}

.modal-body strong {
    color: var(--color-light);
    font-weight: bold;
}

.modal-footer {
    background-color: var(--color-grey-dark);
    border-top: none;
    padding: 10px 15px;
    text-align: right;
}

.modal-footer .btn {
    background-color: var(--color-light);
    color: var(--color-grey-dark);
    border: none;
    padding: 10px 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 5px;
}

.modal-footer .btn:hover {
    background-color: var(--color-grey-dark);
    color: var(--color-light);
}

/* Сетка фото */
.photo-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    padding: 10px 0;
}

.photo-item img {
    width: 100%;
    height: auto;
    /* border-radius: 8px; */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.photo-item img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    margin-top: 20px;
    border-radius: 8px;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}




/*----------------------------------------*/
/*  14.	Btn
/*----------------------------------------*/
/* Стиль кнопки "Подробнее" */
.btn-more, .btn-close {
    padding: 5px 10px;
    display: inline-block;
    position: relative;
    transition: all 0.3s;
    border: 1px solid var(--color-light);
    color: var(--color-light);
    overflow: hidden;
    z-index: 1;
    font-size: 16px;
}

.btn-more:after, .btn-close:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0;
    top: 50%;
    left: 50%;
    background: var(--color-primary);
    opacity: 0;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    z-index: -1;
    border-radius: inherit;
    transition: all 0.3s;
}

.btn-more:hover, .btn-close:hover {
    color: var(--color-light);
    border: 1px solid var(--color-primary);
}

.btn-more:hover:after, .btn-close:hover:after {
    height: 260%;
    width: 260%;
    opacity: 1;
}